<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/semantic.min.css" rel="stylesheet" />
    <script src="~/js/jquery-1.12.3.js"></script>
    <script src="~/js/semantic.min.js"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui-1.11.4.min.js")"></script>
</head>

<body>
    
      
    
   
    <div class="ui basic segment">
    <div style="float: left;"><a href="#"><i id="sidebar" class="huge green content icon"></i></a></div>
        </div>
        @RenderBody()
  



    <div class="ui left demo vertical inverted sidebar labeled icon menu">
        <a class="item">

            <img src="~/images/interconnection-logo.png" />
        </a>
        <div class="ui action input">
            <input id="search_field" type="text" placeholder="Search Asset">
            <button id="search_asset" class="ui icon button">
                <i class="search icon"></i>
            </button>
        </div>

        <a class="item" href="@Url.Action("index", "home")">
            <i class="home icon"></i>
            Home
        </a>
        <a class="item">
            <i class="cube icon"></i>
            <div id="prod_menu" class="ui dropdown">
                <div class="text">Production</div>
                <i class="dropdown icon"></i>
                <div class="menu">
                    <div class="item">Discovery</div>
                  
                    <div class="item">Refurbish</div>
                    <div class="item">Imaging</div>
                    <div class="item">Monitor Discovery</div>
                </div>
            </div>
        </a>
        <script>
            $('#prod_menu').dropdown();
        </script>
        <a class="item" href="@Url.Action("inventoryManage", "manage")">
            <i class="shipping icon"></i>
            Bulk Processing
        </a>
        <a class="item" href="@Url.Action("report", "manage")">
            <i class="file icon"></i>
            Report
        </a>
        <a class="item" href="@Url.Action("admin", "Manage")">
            <i class="setting icon"></i>
            Admin Setting
        </a>
        <hr />  
        <a class="item" href="@Url.Action("landing", "dymo")">
            <i class="print icon"></i>
            Dymo Web App
        </a>
        <a class="item" href="@Url.Action("magento_main", "production_log")">
            <i class="add to cart icon"></i>
            Magento Web App
        </a>
        <a class="item" href="@Url.Action("barcode", "Home")">
            <i class="barcode icon"></i>
            Asset Tag
        </a>
        <a class="item" href="@Url.Action("coa", "manage")">
            <i class="windows icon"></i>
            COA Management
        </a>
    </div>    
      
    
        
    <div class="fullscreen modal">
        <i class="close icon"></i>
        <div class="header">
            Search Result 
        </div>
        <div class="ui equal width grid">
            <div class="four wide column">
                <h3>Discovery</h3>
                <table class="ui definition table">
                    <thead>
                        <tr>
                            <th colspan="2">
                                <strong><i class="info circle icon"></i>Discovery</strong>
                            </th>
                    <tbody>
                        <tr>
                            <td class="four wide column">Model</td>
                            <td id="discovery_model_content"></td>
                        </tr>
                        <tr>
                            <td>Serial</td>
                            <td id="discovery_serial_content"></td>
                        </tr>
                        <tr>
                            <td>CPU</td>
                            <td id="discovery_cpu_content"></td>
                        </tr>
                        <tr>
                            <td>RAM</td>
                            <td id="discovery_ram_content"></td>
                        </tr>
                        <tr>
                            <td>HDD</td>
                            <td id="discovery_hdd_content"></td>
                        </tr>
                        <tr>
                            <td>Time</td>
                            <td id="discovery_time_content"></td>
                        </tr>
                        <tr>
                            <td>Brand</td>
                            <td id="discovery_brand_content"></td>
                        </tr>

                    </tbody>
                </table>
            </div>
            <div class="four wide column">
                <h3>ReDiscovery</h3>
                <table class="ui definition table">
                    <thead>
                        <tr>
                            <th colspan="2">
                                <strong><i class="info circle icon"></i>ReDiscovery</strong>
                            </th>
                    <tbody>
<tbody>
                        <tr>
                            <td class="two wide column">Model</td>
                            <td id="rediscovery_model_content"></td>
                        </tr>
                        <tr>
                            <td>Serial</td>
                            <td id="rediscovery_serial_content"></td>
                        </tr>
                        <tr>
                            <td>CPU</td>
                            <td id="rediscovery_cpu_content"></td>
                        </tr>
                        <tr>
                            <td>RAM</td>
                            <td id="rediscovery_ram_content"></td>
                        </tr>
                        <tr>
                            <td>HDD</td>
                            <td id="rediscovery_hdd_content"></td>
                        </tr>
                        <tr>
                            <td>Time</td>
                            <td id="rediscovery_time_content"></td>
                        </tr>
                        <tr>
                            <td>Brand</td>
                            <td id="rediscovery_brand_content"></td>
                        </tr>
                        <tr>
                            <td>Refurbisher</td>
                            <td id="rediscovery_user_content"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="four wide column">
                <h3>Imaging</h3>
                <table class="ui definition table">
                    <thead>
                        <tr>
                            <th colspan="2">
                                <strong><i class="info circle icon"></i>Imaging</strong>
                            </th>
                    <tbody>
<tbody>
                        <tr>
                            <td class="two wide column">Model</td>
                            <td id="img_model_content"></td>
                        </tr>
                        <tr>
                            <td>Serial</td>
                            <td id="img_serial_content"></td>
                        </tr>
                        <tr>
                            <td>CPU</td>
                            <td id="img_cpu_content"></td>
                        </tr>
                        <tr>
                            <td>RAM</td>
                            <td id="img_ram_content"></td>
                        </tr>
                        <tr>
                            <td>HDD</td>
                            <td id="img_hdd_content"></td>
                        </tr>
                        <tr>
                            <td>Time</td>
                            <td id="img_time_content"></td>
                        </tr>
                        <tr>
                            <td>Channel</td>
                            <td id="img_channel_content"></td>
                        </tr>
    <tr>
        <td>wcoa</td>
        <td id="img_wcoa_content"></td>
    </tr>
    <tr>
        <td>ocoa</td>
        <td id="img_ocoa_content"></td>
    </tr>
                      
                    </tbody>
                </table>
            </div>

        </div>
    </div>



        <script>

            $('#search_asset').click(function () {
                var asset = document.getElementById('search_field').value;

                $.ajax({
                    type: "POST",
                    traditional: true,
                    url: "@Url.Action("asset_result", "home")",
                    data: { asset : asset  },
                    success: function (data) {
                        try{
                            
                           

                            $("#discovery_brand_content").html(data.discovery.brand);
                            $("#discovery_model_content").html(data.discovery.model);
                            $("#discovery_time_content").html(data.discovery_time);
                            $("#discovery_cpu_content").html(data.discovery.cpu);
                            $("#discovery_ram_content").html(data.discovery.ram);
                            $("#discovery_hdd_content").html(data.discovery.hdd);
                            $("#discovery_serial_content").html(data.discovery.serial);
                        }
                        catch (err) {

                            $("#discovery_brand_content").html("");
                            $("#discovery_model_content").html("");
                            $("#discovery_time_content").html("");
                            $("#discovery_cpu_content").html("");
                            $("#discovery_ram_content").html("");
                            $("#discovery_hdd_content").html("");
                            $("#discovery_serial_content").html("");
                        }
                        try {

                           

                            $("#rediscovery_user_content").html(data.rediscovery.refurbisher);
                            $("#rediscovery_brand_content").html(data.rediscovery.brand);
                            $("#rediscovery_model_content").html(data.rediscovery.model);
                            $("#rediscovery_time_content").html(data.rediscovery_time);
                            $("#rediscovery_cpu_content").html(data.rediscovery.cpu);
                            $("#rediscovery_ram_content").html(data.rediscovery.ram);
                            $("#rediscovery_hdd_content").html(data.rediscovery.hdd);
                            $("#rediscovery_serial_content").html(data.rediscovery.serial);
                        }
                        catch (err) {

                            $("#rediscovery_user_content").html("");
                            $("#rediscovery_brand_content").html("");
                            $("#rediscovery_model_content").html("");
                            $("#rediscovery_time_content").html("");
                            $("#rediscovery_cpu_content").html("");
                            $("#rediscovery_ram_content").html("");
                            $("#rediscovery_hdd_content").html("");
                            $("#rediscovery_serial_content").html("");
                        }

                           
                        try {

                            

                            $("#img_brand_content").html(data.img.Manufacture);
                            $("#img_model_content").html(data.img.Model);
                            $("#img_time_content").html(data.img_time);
                            $("#img_cpu_content").html(data.img.CPU);
                            $("#img_ram_content").html(data.img.RAM);
                            $("#img_hdd_content").html(data.img.HDD);
                            $("#img_wcoa_content").html(data.img.wcoa);
                            $("#img_ocoa_content").html(data.img.ocoa);
                            $("#img_serial_content").html(data.img.serial);
                            $("#img_channel_content").html(data.img.channel);
                        }
                        catch (err) {
                            $("#img_brand_content").html("");
                            $("#img_model_content").html("");
                            $("#img_time_content").html("");
                            $("#img_cpu_content").html("");
                            $("#img_ram_content").html("");
                            $("#img_hdd_content").html("");
                            $("#img_wcoa_content").html("");
                            $("#img_ocoa_content").html("");
                            $("#img_serial_content").html("");
                            $("#img_channel_content").html("");
                        }
                        

                        $('.fullscreen.modal').modal('show');


                    },
                    error: function (xhr, status, error) {
                       
                    },
                });

                

            });
    $('#sidebar').click(function() {
        $('.ui.sidebar').sidebar({
            transition: 'scale down'
        })
   .sidebar('toggle')
        ;
    });
    $("#search_field").keyup(function (event) {
        if (event.keyCode == 13) {
            $("#search_asset").click();
        }
    });

        </script>




@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/bundles/jqueryui")
<script src="~/js/semantic.min.js"></script>
@RenderSection("scripts", required: false)


</body>
</html>
