@model ic_ef.label_menu

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>label_menu</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.product)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.product)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.rowID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
