
@{
    ViewBag.Title = "dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>





        

<div class="ui three column doubling stackable grid container">
    
    <div class="column">
        <div class="ui raised segment">
            <h2 class="ui header">Good360</h2>
            <div class="ui four statistics">

                <div class="statistic">
                    <div class="label">
                        Station 1
                    </div>
                    <div class="value" id="g360_wcoa_s1">
                        0
                    </div>
                    <div class="label">
                        Windows COA
                    </div>
                </div>
                <div class="statistic">
                    <div class="label">
                        Station 1
                    </div>
                    <div class="value" id="g360_ocoa_s1">
                        0
                    </div>
                    <div class="label">
                        Office COA
                    </div>
                </div>
                <div class="statistic">
                    <div class="label">
                        Station 2
                    </div>
                    <div class="value" id="g360_wcoa_s2">
                        0
                    </div>
                    <div class="label">
                        Windows COA
                    </div>
                </div>
                <div class="statistic">
                    <div class="label">
                        Station 2
                    </div>
                    <div class="value" id="g360_ocoa_s2">
                        0
                    </div>
                    <div class="label">
                        Office COA
                    </div>
                </div>
            </div>
        </div>
        

     
     
       
    </div>
    <div class="column">
        <div class="ui raised segment">
            <h2 class="ui header">TechSoup</h2>
            <div class="ui four statistics">

                <div class="statistic">
                    <div class="label">
                        Station 1
                    </div>
                    <div class="value" id="ts_wcoa_s1">
                        0
                    </div>
                    <div class="label">
                        Windows COA
                    </div>
                </div>
                <div class="statistic">
                    <div class="label">
                        Station 1
                    </div>
                    <div class="value" id="ts_ocoa_s1">
                        0
                    </div>
                    <div class="label">
                        Office COA
                    </div>
                </div>
                <div class="statistic">
                    <div class="label">
                        Station 2
                    </div>
                    <div class="value" id="ts_wcoa_s2">
                        0
                    </div>
                    <div class="label">
                        Windows COA
                    </div>
                </div>
                <div class="statistic">
                    <div class="label">
                        Station 2
                    </div>
                    <div class="value" id="ts_ocoa_s2">
                        0
                    </div>
                    <div class="label">
                        Office COA
                    </div>
                </div>
            </div>
        </div>
       
    </div>
    <div class="column">
        <div class="ui raised segment">
            <h2 class="ui header">MAR</h2>
            <div class="ui four statistics">

                <div class="statistic">
                    <div class="label">
                        Station 1
                    </div>
                    <div class="value" id="mar_wcoa_s1">
                        0
                    </div>
                    <div class="label">
                        Windows COA
                    </div>
                </div>
                <div class="statistic">
                    <div class="label">
                        Station 1
                    </div>
                    <div class="value" id="mar_ocoa_s1">
                        0
                    </div>
                    <div class="label">
                        Office COA
                    </div>
                </div>
                <div class="statistic">
                    <div class="label">
                        Station 2
                    </div>
                    <div class="value" id="mar_wcoa_s2">
                        0
                    </div>
                    <div class="label">
                        Windows COA
                    </div>
                </div>
                <div class="statistic">
                    <div class="label">
                        Station 2
                    </div>
                    <div class="value" id="mar_ocoa_s2">
                        0
                    </div>
                    <div class="label">
                        Office COA
                    </div>
                </div>
            </div>
        </div>
     
    </div>
    <div class="column">
        <div class="ui raised segment">

            @Html.ActionLink("Stations 1 Windows COA", "export_coa_csv", "home", new { id = "wcoa_s1" }, new { @class = "ui red basic button" })
            @Html.ActionLink("Stations 1 office COA", "export_coa_csv", "home", new { id = "ocoa_s1" }, new { @class = "ui blue basic button" })
            @Html.ActionLink("Stations 2 Windows COA", "export_coa_csv", "home", new { id = "wcoa_s2" }, new { @class = "ui red basic button" })
            @Html.ActionLink("Stations 2 office COA", "export_coa_csv", "home", new { id = "ocoa_s2" }, new { @class = "ui blue basic button" })


        </div>


    </div>
    <div class="column">
        <div class="ui raised segment">
            <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
        </div>
    </div>
    <div class="column">
        <div class="ui raised segment">
            <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
        </div>
    </div>
</div>

<div class="ui grid container">
    <div class="column">
        <div id="chart_div" style="width: 2000px; height: 500px;"></div>
    </div>

</div>

<script>


    $(document).ready(function () {
        $.getJSON("@Url.Action("get_dashboard_data")", function (Data) {
            $("#g360_wcoa_s1").text(Data.g360_wcoa_s1);
            $("#g360_ocoa_s1").text(Data.g360_ocoa_s1);
            $("#g360_wcoa_s2").text(Data.g360_wcoa_s2);
            $("#g360_ocoa_s2").text(Data.g360_ocoa_s2);
            $("#ts_wcoa_s1").text(Data.ts_wcoa_s1);
            $("#ts_ocoa_s1").text(Data.ts_ocoa_s1);
            $("#ts_wcoa_s2").text(Data.ts_wcoa_s2);
            $("#ts_ocoa_s2").text(Data.ts_ocoa_s2);
            $("#mar_wcoa_s1").text(Data.mar_wcoa_s1);
            $("#mar_ocoa_s1").text(Data.mar_ocoa_s1);
            $("#mar_wcoa_s2").text(Data.mar_wcoa_s2);
            $("#mar_ocoa_s2").text(Data.mar_ocoa_s2);
            google.charts.load('visualization', '1', { 'packages': ['corechart'] });
            google.charts.setOnLoadCallback(drawStuff);
            function drawStuff() {

                var google_data = {
                    "cols": [{
                        "type": "string"
                    }, {
                        "type": "number"
                    }],
                    rows: []
                };

                for (var i = 0; i < Data.station1.length; i++) {
                    google_data.rows.push({ c: [{ v: Data.station1[i].time }, { v: Data.station1[i].time.count }] });
                }
                var data = new google.visualization.DataTable(google_data);

                var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
                chart.draw(data, { title: 'All time Sales Graph', vAxis: { title: '# of Assets Sold', titleTextStyle: { color: 'red' } }, width: 1100, height: 400 });
            }

        });

    });


</script>