@model IEnumerable<ic_ef.monitor_log>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css" rel="stylesheet" />
<link href="~/css/monthpicker.css" rel="stylesheet" />
<script src="~/Scripts/DataTables/jquery.dataTables.min.js"></script>
<script src="~/js/monthpicker.js"></script>

<h2><i class="fa fa-search" aria-hidden="true"></i>Monitor Discovery Log</h2>

<div id="accordion">
    <h3>Advanced Search</h3>
   
    <div>
        <div class="row">
            <div class="col-lg-3">
                <input id="asset" type="text" value="" placeholder="Search By AssetTag" class="form-control">
                <button  id="search_asset" href="#fakelink" class="btn btn-block btn-lg btn-info btn-simple ">Search</button>
            </div>
            <div class="col-lg-3">
                <input type="text" value="" placeholder="Search By Grade" class="form-control">
                <button id="search_grade" href="#fakelink" class="btn btn-block btn-lg btn-info btn-simple ">Search</button>
            </div>
            <div class="col-lg-6">
                <input  id="manu" type="text" value="" placeholder="Search By Manufacturer" class="form-control">
                <input id="screen" type="text" value="" placeholder="And/OR Screen Size" class="form-control">
                <button  id="search_manu" href="#fakelink" class="btn btn-block btn-lg btn-info btn-simple ">Search</button>
            </div>
        
            
            </div>
        <br />
        <table class="table hover" id="table">
            <thead>
                <tr>
                    <th>Asset Tag</th>
                    <th>Manufacturer</th>
                    <th>Monitor ID</th>
                    <th>Serial #</th>
                    <th>Screen Size</th>
                    <th>Resolution</th>
                    <th>Model</th>

                </tr>
            </thead>
            <tbody></tbody>

        </table>
      
    </div>
    <h3>Search by Date</h3>
    <div>
        <p>Select a Date: <input type="text" id="datepicker"></p>
        <img id="loading" src="~/Content/spinner.gif" alt="Updating ..." style="display: none;" />
        <h4 id="count"><i class="fa fa-info-circle" aria-hidden="true"></i> Count : </h4>
        <br />
        <table class="table hover" id="table2">
            <thead>
                <tr>
                    <th>Asset Tag</th>
                    <th>Manufacturer</th>
                    <th>Monitor ID</th>
                    <th>Serial #</th>
                    <th>Screen Size</th>
                    <th>Resolution</th>
                    <th>Model</th>

                </tr>
            </thead>

        </table>
    </div>
    <h3>Search by Month</h3>
    <div>
        <p>Start Month: <input id="start_month" type="text"></p>
        <p>End Month: <input id="end_month" type="text"></p>
        <button id="search_months" href="#fakelink" class="btn btn-block btn-lg btn-info btn-simple ">Search</button>
        <img id="loading" src="~/Content/spinner.gif" alt="Updating ..." style="display: none;" />
        <h4 id="count"><i class="fa fa-info-circle" aria-hidden="true"></i> Count : </h4>
        <br />
        <table class="table hover" id="table3">
            <thead>
                <tr>
                    <th>Asset Tag</th>
                    <th>Manufacturer</th>
                    <th>Monitor ID</th>
                    <th>Serial #</th>
                    <th>Screen Size</th>
                    <th>Resolution</th>
                    <th>Model</th>

                </tr>
            </thead>
            <tbody></tbody>

        </table>
    </div> 
    
</div>

<script>
    $(function () {
        
        $('#end_month').Monthpicker({});
        $('#start_month').Monthpicker({});
        $("#accordion").accordion({
            heightStyle: "content"
        });
    });
</script>
<script>
    $("#search_months").click(function () {
        
        var date_post = $('#start_month').val();
        var date_end = $('#end_month').val();
        var jsonObject = {
            date: date_post,
            dateend: date_end
        };
        $.ajax({
            url: "@Url.Action("monitor_month")",
            type: "POST",
            data: JSON.stringify(jsonObject),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                $("#count").html("<i class='fa fa-info-circle' aria-hidden='true'></i> Count : " + data.length)

                $('#table3').DataTable({
                    destroy: true,
                    data: data,
                    columns: [
                        { data: "ictag" },
                         { data: "manu" },
                          { data: "monitor_ID" },
                           { data: "serial" },
                            { data: "size" },
                             { data: "resou" },
                              { data: "model" }

                    ]


                });
               
                
            },
            error: function () {
               
                $("<div>" + data.responseText + "</div>").dialog();
            }

        });
    });
</script>
<script>
    


    $("#search_screen").click(function () {
        
        var screen = $("#screen").val();

        var jsonObject = {
            screen : screen
        };
        $.ajax({
            url: "@Url.Action("get_screen")",
            type: "POST",
        data: JSON.stringify(jsonObject),
        contentType: "application/json; charset=utf-8",
        dataType: "json",
        success: function (data) {

            $('#table').DataTable({
                destroy: true,
                data: data,
                columns: [
                    { data: "ictag" },
                     { data: "manu" },
                      { data: "monitor_ID" },
                       { data: "serial" },
                        { data: "size" },
                         { data: "resou" },
                          { data: "model" }

                ]


            });

            if (data.responseText != null) {
                $("<div>" + data.responseText + "</div>").dialog();
            }
          

         

        },
        error: function () {
            
            $("<div>" + data.responseText + "</div>").dialog();
        }
        });
    });
     $("#search_asset").click(function(){
        
        var asset = $("#asset").val();

        var jsonObject = {
            asset: asset
        };
        $.ajax({
        url: "@Url.Action("get_asset")",
        type: "POST",
        data: JSON.stringify(jsonObject),
        contentType: "application/json; charset=utf-8",
        dataType: "json",
        success: function (data) {

            $('#table').DataTable({
                destroy: true,
                data: data,
                columns: [
                    { data: "ictag" },
                     { data: "manu" },
                      { data: "monitor_ID" },
                       { data: "serial" },
                        { data: "size" },
                         { data: "resou" },
                          { data: "model" }

                ]


            });

           

            
            if (data.responseText != null) {
                $("<div>" + data.responseText + "</div>").dialog();
            }

        },
        error: function () {
            
            $("<div>" + data.responseText + "</div>").dialog();
        }
        });
    });
    $("#search_manu").click(function () {
        var manu = $("#manu").val();
        var screen = $("#screen").val();
        var jsonObject = {
            manu: manu,
            screen : screen
        };
        $.ajax({
            url: "@Url.Action("manu")",
            type: "POST",
        data: JSON.stringify(jsonObject),
        contentType: "application/json; charset=utf-8",
        dataType: "json",
        success: function (data) {

            $('#table').DataTable({
                destroy: true,
                data: data,
                columns: [
                    { data: "ictag" },
                     { data: "manu" },
                      { data: "monitor_ID" },
                       { data: "serial" },
                        { data: "size" },
                         { data: "resou" },
                          { data: "model" }

                ]


            });

            if (data.responseText != null) {
                $("<div>" + data.responseText + "</div>").dialog();
            }


        },
        error: function () {

            $("<div>" + data.responseText + "</div>").dialog();
        }
        });
    });
</script>
<script>
  $(function() {
      $( "#datepicker" ).datepicker({
          onSelect: function (date) {

              $('#loading').show();

              var date_post = date;
              var jsonObject = {
                 date : date_post
              };
              $.ajax({
                  url: "@Url.Action("monitor_date")",
                  type: "POST",
              data: JSON.stringify(jsonObject),
              contentType: "application/json; charset=utf-8",
              dataType: "json",
              success: function (data) {
                  $("#count").html("<i class='fa fa-info-circle' aria-hidden='true'></i> Count : " + data.length)
                  $('#table2').DataTable({
                      destroy: true,
                      data: data,
                      columns: [
                          {data :"ictag"},
                           { data: "manu" },
                            { data: "monitor_ID" },
                             { data: "serial" },
                              { data: "size" },
                               { data: "resou" },
                                { data: "model" }

                      ]


                  });
                  $('#loading').hide();
                  //var tr = '';
                  
                  //for (var i = 0 ; i < data.length; i++) {
                  //    tr += '<tr>';
                  //    tr += '<td>' + data[i].ictag + '</td>';
                  //    tr += '<td>' + data[i].manu + '</td>';
                  //    tr += '<td>' + data[i].monitor_ID + '</td>';
                  //    tr += '<td>' + data[i].serial + '</td>';
                  //    tr += '<td>' + data[i].size + '</td>';
                  //    tr += '<td>' + data[i].resou + '</td>';
                  //    tr += '<td>' + data[i].model + '</td>';
                  //    tr += '</tr>';

                  //}
                 
                  //$('#table2 tbody').html(tr);
                  //$('#loading').hide();
                  
              },
              error: function () {
                  $('#loading').hide();
                  $("<div>" + data.responseText +"</div>").dialog();
              }

              });
              
          },
          selectWeek: true,
          inline: true,
          startDate: '01/01/2013',
          firstDay: 1
      });
  });
</script>

  

   







