


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
  
    <title>Magento Web App</title>
    
</head>
<body>


    <div class="ui stackable one column centered grid">
        <div class="column">
            <h2 class="ui header">
                <i class="cart icon"></i>
                <div class="content">
                    Magento Web APP
                </div>
            </h2>
        </div>
        
        
        
        


        </div>


    <div class="ui three column doubling stackable grid container">
        <div class="column">

            <a class="head" href="@Url.Action("inventory_report", "production_log")">
                <div class="ui blue center aligned segment">
                    <p>
                        <i class="big black edit icon"></i>Inventory Report
                    </p>
                    <div class="ui statistic">
                        <div class="value" id="bin_value">
                            0
                        </div>
                        <div class="label">
                            Assets in Stock
                        </div>
                    </div>
                </div>
            </a>
           
            <p></p>
        </div>
        <div class="column">
            <a class="header" href="@Url.Action("bin_overview", "production_log")">
                <div class="ui blue center aligned segment">
                    <p>
                        <i class="big black windows icon"></i>Inventory Overview(Windows)
                    </p>
                    <div class="ui statistic">
                        <div class="value" id="windows_value">
                            0
                        </div>
                        <div class="label">
                            Assets Pulled in last 24 hours
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="column">
            <a href="@Url.Action("bin_overview_mac", "production_log")">
                <div class="ui blue center aligned segment">
                    <p>
                        <i class="big black apple icon"></i>Inventory Overview(MAC)
                    </p>
                    <div class="ui statistic">
                        <div class="value" id="mac_value">
                            0
                        </div>
                        <div class="label">
                            Assets Pulled in last 24 hours
                        </div>
                    </div>
                </div>
            </a>
        </div>
        
    </div>
    <div class="ui three column doubling stackable grid container">
        <div class="column">
            <a href="@Url.Action("bin_overview_gradec", "production_log")">
                <div class="ui teal center aligned segment">
                    <p>
                        <i class="big black laptop icon"></i>Inventory Overview (Grade C)
                    </p>
                    <div class="ui statistic">
                        <div class="value" id="mac_value">
                            0
                        </div>
                        <div class="label">
                            Assets in Stock
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="column">
            <a href="@Url.Action("return_stock", "production_log")">
                <div class="ui teal center aligned segment">
                    <p>
                        <i class="big black repeat icon"></i>Return Asset to Stock
                    </p>
                    <div class="ui statistic">
                        <div class="value" id="missing_value">
                            0
                        </div>
                        <div class="label">
                            Assets Unresloved/Missing 
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="column">
            <a href="@Url.Action("magento_validation", "production_log")">
                <div class="ui teal center aligned segment">
                    <p>
                        <i class="big black resize horizontal icon"></i>Validate Magento DB vs ICDB
                    </p>
                    <div class="ui statistic">
                        <div class="value" id="validate_value">
                            0
                        </div>
                        <div class="label">
                            Listing Adjusted < 24 Hours
                        </div>
                    </div>
                </div>
            </a>
        </div>
        </div>
</body>
</html>


<script>
    $.getJSON("@Url.Action("get_overall_data")", function (data) {
        $('#bin_value').text(data.bin_overall);
        $('#windows_value').text(data.windows_pull);
        $('#mac_value').text(data.mac_pull);
        $('#missing_value').text(data.missing);
        $('#validate_value').text(data.validated);

    });

</script>