
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Magento Import Tool</title>

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Monsterrat:400,700|Merriweather:400,300italic,700" rel="stylesheet" type="text/css">

    <!-- Animate.css -->
    <link href="~/css/gridforms.css" rel="stylesheet" />
    <link href="~/css/all.css" rel="stylesheet" />
    <link href="~/css/font-awesome.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/animate.css">
    <!-- Icomoon Icon Fonts-->
    <link rel="stylesheet" href="~/css/icomoon.css">
    <!-- Owl Carousel -->
    <link rel="stylesheet" href="~/css/magnific-popup.css">
    <!-- Bootstrap  -->
    <link rel="stylesheet" href="~/css/bootstrap.css">

    <link href="~/css/semantic.min.css" rel="stylesheet" />
    <!-- Cards -->
    <link rel="stylesheet" href="~/css/cards.css">

    <!-- Modernizr JS -->
    <script src="~/js/jquery-1.12.3.js"></script>
    <script src="~/js/semantic.min.js"></script>
    <script src="~/js/modernizr-2.7.1.js"></script>
    <script src="~/js/base.js"></script>
    <script src="~/js/snap.min.js"></script>
    <script src="~/js/responsive-elements.js"></script>
    <script src="~/js/gridforms.js"></script>
    

    <style>
      #sample_sku {
    -webkit-filter: blur(1px); /* Chrome, Safari, Opera */
      filter:blur(1px);
}

    </style>
</head>
<body>
    <a href="#"><i id="sidebar" class="big green content icon"></i></a>
    <div class="ui basic segment">
        <div id="prepare_dimmer" class="ui disabled dimmer">
            <div class="ui indeterminate text loader">Importing Data now...</div>
        </div>
        <p></p>

        <div id="new">
            <div class="container">

                <form class="grid-form">
                    <div class="ui error message"></div>
                    <fieldset>
                        <legend>Quick Import</legend>
                        <div data-row-span="3">
                            <div data-field-span="1" class="" style="height: 59px;">
                                <label>Name*</label>
                                <input type="text" id="name" placeholder="Listing Title">
                            </div>
                            <div data-field-span="1" style="height: 59px;">
                                <label>SKU*</label>
                                <input type="text" id="sku" placeholder="SKU">
                            </div>

                            <div data-field-span="1" class="" style="height: 59px;">
                                <label>Image Path</label>
                                <input type="text" id="image_path" value="" disabled="disabled">

                            </div>



                        </div>
                        <div data-row-span="3">
                            <div data-field-span="1" style="height: 59px;">
                                <label>Attribute Set</label>
                                <select id="attr" class="ui dropdown">
                                    <option value="4">Default</option>
                                </select>
                            </div>
                            <div data-field-span="1" style="height: 59px;">
                                <label>Product Type</label>
                                <select id="product_type" class="ui dropdown">
                                    <option value="simple">Simple Product</option>
                                </select>
                            </div>
                            <div data-field-span="1" style="height: 59px;">
                                <label>Status</label>
                                <select id="status" class="ui dropdown">
                                    <option value="1">Enabled</option>
                                    <option value="2">Disabled</option>
                                </select>
                            </div>
                        </div>
                        <div data-row-span="4">
                            <div data-field-span="1" style="height: 59px;">
                                <label>Visbility</label>
                                <select id="visible" class="ui dropdown">
                                    <option value="4">Catalog, Search</option>
                                    <option value="1">Not Visible</option>
                                </select>
                            </div>
                            <div data-field-span="1" style="height: 59px;">
                                <label>Description</label>
                                <input type="text" id="desc" placeholder="Description" value="NA">
                            </div>
                            <div data-field-span="1" style="height: 59px;">
                                <label>Short Description</label>
                                <input type="text" id="short_desc" placeholder="Short Description" value="NA">
                            </div>
                            <div data-field-span="1" style="height: 59px;">
                                <label>Weight</label>
                                <input type="text" id="weight" placeholder="Weight" value="10">
                            </div>
                        </div>
                        <div data-row-span="5">
                            <div data-field-span="1" style="height: 59px;">
                                <label>Price*</label>
                                <input type="text" id="price" placeholder="Price">
                            </div>
                            <div data-field-span="1" style="height: 59px;">
                                <label>Stock Avalability</label>
                                <select id="stock" class="ui dropdown">
                                    <option value="true">In Stock</option>
                                    <option value="false">Out of Stock</option>
                                </select>
                            </div>
                            <div data-field-span="1" style="height: 59px;">
                                <label>QTY</label>
                                <input type="text" id="qty" placeholder="Qty" value="1">
                            </div>
                            <div data-field-span="1" style="height: 59px;">
                                <label>Tax Class</label>
                                <select id="tax" class="ui dropdown">
                                    <option value="2">Taxable Goods</option>
                                    <option value="0">None</option>
                                    <option value="4">Shipping</option>
                                </select>
                            </div>
                            <div data-field-span="1" style="height: 59px;">
                                <label>Store(s)*</label>

                                <select multiple="multiple" id="websites" class="ui fluid normal dropdown">
                                    <option value="">Select Store(s)</option>
                                    <option value="5">Fremont Store</option>
                                    <option value="2">Kenmore Store</option>
                                    <option value="1">Connectall.org</option>
                                    <option value="4">Vendor</option>
                                    <option value="3">Online Retail Store</option>
                                </select>
                            </div>
                        </div>
                    </fieldset>
                    <div class="ui submit button">Submit</div>
                    <div class="ui reset button">Reset</div>

                </form>



            </div>
        </div>
    </div>
    <div class="ui left demo vertical inverted sidebar labeled icon menu">
        <a class="item" href="@Url.Action("index", "home")">
            <i class="home icon"></i>
            Home
        </a>
        <a class="item">
            <i class="cube icon"></i>
            Production
        </a>
        <a class="item" href="@Url.Action("inventoryManage", "manage")">
            <i class="shipping icon"></i>
            Inventory
        </a>
        <a class="item" href="@Url.Action("report", "manage")">
            <i class="file icon"></i>
            Report
        </a>
        <a class="item" href="@Url.Action("admin", "Manage")">
            <i class="setting icon"></i>
            Admin Setting
        </a>
        <hr />
        <a class="item" href="@Url.Action("landing", "dymo")">
            <i class="print icon"></i>
            Dymo Web App
        </a>
        <a class="item" href="@Url.Action("magento_main", "production_log")">
            <i class="add to cart icon"></i>
            Magento Web App
        </a>
        <a class="item" href="@Url.Action("barcode", "Home")">
            <i class="barcode icon"></i>
            Asset Tag
        </a>
    </div>

    

    

    
</body>
</html>

<script src="~/js/jquery-1.12.3.js"></script>
<!-- jQuery Easing -->

<script src="~/js/semantic.min.js"></script>
<!-- Bootstrap -->
<script>
        $("#Upload").click(function () {
            var formData = new FormData();
            var totalFiles = document.getElementById("FileUpload").files.length;
            for (var i = 0; i < totalFiles; i++)
            {
                var file = document.getElementById("FileUpload").files[i];

                formData.append("FileUpload", file);
            }
            $.ajax({
                type: "POST",
                url: '/production_log/Upload',
                data: formData,
                dataType: 'json',
                contentType: false,
                processData: false,
                success: function (response) {
                    $('#image_path').val(response.path);
                   
                    alert('Image Uploaded');
                },
                error: function (error) {
                    alert("error");
                }
            });
        });
   

</script>
<script>
    $('#sidebar').click(function() {
        $('.ui.sidebar')
   .sidebar('toggle')
        ;
    });


</script>
<script>

    $('.ui.dropdown').dropdown();
    $('#quick_btn').click(function () {
        $('html, body').animate({
            scrollTop: $("#new").offset().top
        }, 500);
    });
    $('.grid-form').form({
      fields: {
          name: 'empty',
          price: ['empty',"number"],
          sku: 'empty',
          websites: 'empty'
          
          
      }, onSuccess: function () {
         $('#prepare_dimmer').attr('class', 'ui active dimmer');
          var price = $('#price').val();
        var name = $('#name').val();
        var sku = $('#sku').val(); 
        var weight = $('#weight').val();
        var desc = $('#desc').val();
        var short_desc = $("#short_desc").val();
        var qty = $('#qty').val();
        var websites = [];
        var img_path = $('#image_path').val();
        $('#websites option:selected').each(function(i, selectedElement) {
            websites[i] = $(selectedElement).val();
        });
        var tax = $('#tax option:selected').val();
        var stock = $('#stock option:selected').val();
        var status = $('#status option:selected').val();
        var visible = $('#visible option:selected').val();
        var attr = $('#attr option:selected').val();
        var product_type = $('#product_type option:selected').val();
        
        var jsonObject = {
            img_path : img_path ,
            price : price ,
            name : name,
            sku:sku,
            weight:weight,
            desc:desc,
            short_desc:short_desc,
            qty:qty,
            websites:websites,
            stock:stock,
            status:status,
            visible:visible,
            attr: attr,
            tax:tax,
            type:product_type,
        };
        $.ajax({
                       url: "@Url.Action("quick_import")",
                       type: "POST",

                   data: JSON.stringify(jsonObject),
                   contentType: "application/json; charset=utf-8",
                   dataType: "json",
                   success: function (data) {
                       $('#prepare_dimmer').attr('class', 'ui disabled dimmer');
                       
                       alert("Listing Imported");
                   }
               });
      }
  });




</script>
<script src="~/js/bootstrap.js"></script>

<!-- Main -->
<script src="~/js/main.js"></script>

