@model ic_ef.Models.magentoViewModel
@{
    ViewBag.Title = "magento";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css" rel="stylesheet" />
<link href="~/Content/jquery.steps.css" rel="stylesheet" />
<script src="~/Scripts/jquery.steps.min.js"></script>
<script src="~/Scripts/DataTables/jquery.dataTables.min.js"></script>
@ViewBag.error





    <h2>Search Exising Listing</h2>
<div class="ui massive breadcrumb">
    <a class="section" href="@Url.Action("index", "home")">Home</a>
    <div class="divider"> / </div>
    <a class="section" href="@Url.Action("magento_main", "production_log")">Magento Import Tool</a>
    <div class="divider"> / </div>
    <div class="active section">Update Listing</div>
</div>
    <h2 class="ui header">
        Search By SKU Family
        <div class="sub header">

            <div class="ui action input">
                <input type="text" id="sku_family_input" placeholder="Scan/Search SKU Family">
                <input type="text" id="sku_family_datepicker" placeholder="Enter Imaged Date">
                <button class="huge ui basic button" id="sku_family_submit_btn">
                    <i class="search icon"></i>
                    Search
                </button>
            </div>

        </div>
    </h2>

    <div id="sku_family_table">
        <h2 class="ui header">Current Inventory :</h2>
        <table class="table hover" id="table3">
            <thead>
                <tr>
                    <th>Asset Tag</th>
                    <th>SKU Family</th>
                    <th>Manufacturer</th>
                    <th>Model</th>
                    <th>CPU</th>
                    <th>HDD</th>
                    <th>RAM</th>
                    <th>Action</th>

                </tr>
            </thead>
            <tbody></tbody>

        </table>
    </div>
    <div id="magento_table">
        <h2 class="ui header">Current Online Store Inventory :</h2>
        <table class="table hover" id="table4">
            <thead>
                <tr>
                    <th>SKU</th>
                    <th>SKU Family</th>
                    <th>Listing Title</th>
                    <th>QTY</th>
                    <th>CPU</th>
                    <th>HDD</th>
                    <th>RAM</th>

                    <th>Action</th>
                </tr>
            </thead>
            <tbody></tbody>

        </table>
    </div>










    
<div class="ui page dimmer" id="page_dimmer">
    <div class="content">
        <div class="center"><i class="fa fa-circle-o-notch fa-spin" style="font-size:24px"></i><div class="sub header"><h3>Loading...</h3></div></div>
    </div>
</div>
<script type="text/javascript">
    var grade_desc;
    $(document).ready(

        function () {
            $('#table4 tbody').on('click', 'button', function () {

                $('#page_dimmer').dimmer('show');
                var sku = $(this).closest('td').siblings(':first-child').text();
                var qty = $(this).closest('td').siblings(':nth-child(4)').text();

                var jsonObject = { sku:sku,qty:qty };
                $.ajax({
                    url: "@Url.Action("qty")",
                    type: "POST",

                    data: JSON.stringify(jsonObject),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (data) {
                        $('#page_dimmer').dimmer('hide');
                        alert(data.responseText);

                    }

                });
            });
            $('#table3 tbody').on('click', 'button', function (e) {
                $('#page_dimmer').dimmer('show');
                var sku_family = $(this).closest('td').siblings(':nth-child(2)').text();
                var cpu = $(this).closest('td').siblings(':nth-child(5)').text();
                var hdd = $(this).closest('td').siblings(':nth-child(6)').text();
                var ram = $(this).closest('td').siblings(':nth-child(7)').text();
                var jsonObject3 = { sku_family:sku_family,cpu: cpu ,hdd :hdd,ram:ram};
                $.ajax({
                    url: "@Url.Action("detail_status")",
                    type: "POST",

                data: JSON.stringify(jsonObject3),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {

                    $('#table4').DataTable({
                        destroy: true,
                        data: data,
                        columnDefs: [{
                            targets: 7,
                            data: null,
                            defaultContent: "<button class='fa fa-plus'> </button>"
                        }],
                        columns: [
                            { data: "sku" },
                            { data: "sku_family" },
                             { data: "name" },
                             { data: "qty" },
                              { data: "cpu" },
                                { data: "hdd" },
                                 { data: "ram" }
                        ]
                    });
                    $('#page_dimmer').dimmer('hide');
                    $("#sku_family_table").show();
                    $("#magento_table").show();

                }
            });

            });

            $("#sku_family_table").hide();
            $("#magento_table").hide();
            $('.ui.accordion').accordion();
            $("#sku_family_datepicker").datepicker({
                changeMonth: true,
                changeYear: true
            });
            var cpu;
            var ram;
            var hdd;


            $('#sku_family_submit_btn').click(

               function () {
                   var sku_family = $('#sku_family_input').val();
                   var jsonObject2 = {
                       sku_family: sku_family,
                   };
                   $('#page_dimmer').dimmer('show');
                   $.ajax({
                       url: "@Url.Action("get_status")",
                       type: "POST",

                   data: JSON.stringify(jsonObject2),
                   contentType: "application/json; charset=utf-8",
                   dataType: "json",
                   success: function (data) {

                       $('#table4').DataTable({
                           destroy: true,
                           data: data,
                           columnDefs: [{
                               targets: 7,
                               data: null,
                               defaultContent: "<button class='fa fa-plus'> </button>"
                           }],
                           columns: [
                               { data: "sku" },
                               { data: "sku_family" },
                                { data: "name" },
                                { data: "qty" },
                                 { data: "cpu" },
                                   { data: "hdd" },
                                    { data: "ram" }
                           ]
                       });
                       $("#sku_family_table").show();
                       $("#magento_table").show();
                       $('#page_dimmer').dimmer('hide');
                   }
               });

                   var target = $('#sku_family_datepicker').val();
                   var jsonObject = {
                       sku_family: sku_family,
                       target: target
                   };
                   $.ajax({
                       url: "@Url.Action("get_sku_family_table")",
                       type: "POST",

                   data: JSON.stringify(jsonObject),
                   contentType: "application/json; charset=utf-8",
                   dataType: "json",
                   success: function (data) {

                     $('#table3').DataTable({
                           destroy: true,
                           data: data,

                           columns: [

                               { data: "ictag" },
                                { data: "pallet" },
                                { data: "brand" },
                                 { data: "model" },
                                 { data: "cpu" },
                                   { data: "hdd" },
                                    { data: "ram" }
                           ],
                           columnDefs: [{
                               targets: 7,
                               data: null,
                               defaultContent: "<button class='get_info'>Search Similar Spec</button>"
                           }]
                       });
                       $("#sku_family_table").show();

                   }
               });

               });


        });

</script>
