
@{
    Layout = null;
}

    <!DOCTYPE html>
    <html>
    <head>
        <title>Magento Import Tool</title>
      
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Monsterrat:400,700|Merriweather:400,300italic,700" rel="stylesheet" type="text/css">

        <!-- Animate.css -->
        <link href="~/css/font-awesome.css" rel="stylesheet" />
        <link rel="stylesheet" href="~/css/animate.css">
        <!-- Icomoon Icon Fonts-->
        <link rel="stylesheet" href="~/css/icomoon.css">
        <!-- Owl Carousel -->
        <link rel="stylesheet" href="~/css/magnific-popup.css">
        <!-- Bootstrap  -->
        <link rel="stylesheet" href="~/css/bootstrap.css">
        <link href="~/css/semantic.min.css" rel="stylesheet" />
        <!-- Cards -->
        <link rel="stylesheet" href="~/css/cards.css">

        <!-- Modernizr JS -->
        <script src="~/js/modernizr-2.7.1.js"></script>
    </head>
    <body >
        <div class="ui large breadcrumb">
            <a href="@Url.Action("Index", "Home")" class="section">Home</a>
            <i class="right chevron icon divider"></i>
            <a href="@Url.Action("magento_main", "production_log")" class="section">Magento</a>
        </div>

        <div id="fh5co-page">

            <div class="fh5co-team-style-2">
                <div class="container">
                    <div class="row p-b">
                        <div class="col-md-6 col-md-offset-3 text-center">
                            <h2 class="ui icon header">
                                <i class="settings icon"></i>
                                <div class="content">
                                    Magento Listing Import/Inventory Tool
                                    <div class="sub header">Designed to import listing easily with use of magento API</div>
                                </div>
                            </h2>
                       
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="fh5co-person">
                                <i class="circular building icon"></i>
                                <div class="fh5co-text">
                                    <h3>Retail POS Import</h3>
                                    <span class="fh5co-meta"></span>
                                    <p>We Provide 2 Import mode for retail POS items import (quick and custom)</p>
                                    <button class="ui primary button" onclick="location.href='@Url.Action("magento_retail", "production_log")';return false;">
                                        Select
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="fh5co-person">
                                <i class="circular plus icon"></i>
                                <div class="fh5co-text">
                                    <h3>Update Exisiting Qty</h3>
                                    <span class="fh5co-meta"></span>
                                    <p>This function is for assets that had previously entered into the magento inventory, user can quickly update the QTY instead of creating a new listing</p>
                                    <button class="ui primary button" onclick="location.href='@Url.Action("magento", "production_log")';return false;">
                                        Select
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="fh5co-person">
                                <i class="circular write icon"></i>
                                <div class="fh5co-text">
                                    <h3>Create a new Listing</h3>
                                    <span class="fh5co-meta"></span>
                                    <p>For Assets that are not currently in the magento inventory already, a user friendly UI will guide you thru the process of creating a quick and easy listing</p>
                                    <button class="ui primary button" onclick="location.href='@Url.Action("magento_create", "production_log")';return false;">
                                        Select
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="fh5co-person">
                                <i class="circular shipping icon"></i>
                                <div class="fh5co-text">
                                    <h3>Retail CheckList</h3>
                                    <span class="fh5co-meta"></span>
                                    <p>Inventory List</p>
                                    <button class="ui primary button" onclick="location.href='@Url.Action("magento_retail_view", "production_log")';return false;">
                                        Select
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END page-->
        <!-- jQuery -->
        <script src="~/js/jquery-1.12.3.js"></script>
        <!-- jQuery Easing -->

        <script src="~/js/semantic.min.js"></script>
        <!-- Bootstrap -->
        <script src="~/js/bootstrap.js"></script>
       
        <!-- Main -->
        <script src="~/js/main.js"></script>

      

           
       
           
          
                          
        
                    </body>
                </html>


