
@{
    ViewBag.Title = "shipped_stock";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/DataTables/css/jquery.dataTables.min.css" rel="stylesheet" />
<script src="~/Scripts/DataTables/jquery.dataTables.min.js"></script>

<div class="ui small breadcrumb">
    <a href="@Url.Action("index", "home")" class="section">Home</a>
    <i class="right chevron icon divider"></i>
    <a href="@Url.Action("index", "ts_stock")" class="section">Manage TechSoup Inventory</a>
    <i class="right chevron icon divider"></i>
    <div class="active section">Shipped TechSoup Stock</div>
</div>



<div id="modals" class="ui modal">
    <i class="close icon"></i>
    <div class="header">
        Message
    </div>
    <div id="message" class="content">


    </div>


</div>

<div class="ui grid" style="padding : 50px">






    <div class="four wide column">
        <div class="ui raised very padded text segment">
            <div id="loader" class="ui disabled dimmer">
                <div class="ui text loader">Loading</div>
            </div>
            <h3 class="ui header">Shipped TechSoup Stock</h3>




            <div class="form-group">
                <label for="comment"></label>
                <textarea id="asset_textarea" style="width : 100%" class="form-control" rows="8" placeholder='Scan or Enter Assets'></textarea>
            </div>

            <div class="ui basic segment">
                <h3 class="ui right floated header">
                    <button id="submit" class="ui primary button">Submit</button>
                </h3>
                <h3 class="ui left floated header"></h3>
            </div>

            <h3 class="ui right aligned header"></h3>



        </div>
    </div>
    <div class="seven wide column">
        <div class="ui raised very padded text segment">

            <h3 class="ui header">TechSoup Assets Shipped Today</h3>
            <table id="table_reminder" class="stripe" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>Asset Tag</th>
                        <th>SKU</th>
                        <th>Status</th>
                        <th>Action</th>


                    </tr>
                </thead>
                <tbody></tbody>

            </table>







        </div>
    </div>

</div>












<script>

            function get_table() {
                $.getJSON("@Url.Action("get_shippedstcok")",function (data) {

                    $('#table_reminder').DataTable({
                        destroy: true,
                        data: data,
                        columnDefs: [{
                            targets: 3,
                            data: null,
                            defaultContent: "<button class='ui red button' id='remove_btn'>Remove</button>"
                        }
                        ],
                        columns: [



                        { data: "ictag" },
                        { data: "sku" },
                        { data: "status" }
                        ]

                    });

                });

            }
            $(document).ready(function () {

             get_table();


            });

            ;

            $('#table_reminder tbody').on('click', '#remove_btn', function () {
                var asset_tag = $(this).closest('td').siblings(':nth-child(1)').text();
                var sku = $(this).closest('td').siblings(':nth-child(2)').text();


                var r = confirm("are you sure you want to Remove Asset " + asset_tag + " from TS Inventory");
                if (r == true) {
                    var jsonObject = {
                        asset: asset_tag,
                        sku: sku
                    };
                    $.ajax({
                        url: "@Url.Action("remove_ts_stock")",
                        type: "POST",

                    data: JSON.stringify(jsonObject),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (data) {
                        $('#message').html(data);
                        $('#modals').modal('show');
                        get_table();
                    }
                });
            }
            else {
                            return;
            }
            });


            $('#submit').click(function () {


                if ($('#asset_textarea').val() == '') {
                    return;
                }

                $("#loader").attr('class', 'ui active dimmer');
                //var channel = $('#channel option:selected').text();
                var lines = $('#asset_textarea').val().split(/\n/);

                var texts = [];
                for (var i = 0; i < lines.length; i++) {
                    // only push this line if it contains a non whitespace character.
                    if (/\S/.test(lines[i])) {
                        texts.push($.trim(lines[i]));
                    }
                }
                var jsonObject = {
                    asset: texts,
                    //channel: channel,
                };

                $.ajax({
                    url: "@Url.Action("ts_ship_stock")",
                    type: "POST",

                    data: JSON.stringify(jsonObject),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (data) {
                        $("#loader").attr('class', 'ui disabled dimmer');
                        $('#message').html(data);
                        $('#modals').modal('show');
                        $('#asset_textarea').val("");
                        get_table();

                    }
                });

            });

</script>
